*{
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0.09turn, #3f87a6, #ecf9e2, #f69d3c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a{
  margin-inline: 30px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.items img{
  width: 200px;
  height: 200px;
}
.css{
  box-sizing: border-box;
  padding-inline: 24px;
}
.cpp{
  box-sizing: border-box;
  padding: 18px 18px 0;
}